/* Style the header with a grey background and some padding */
:root {
    --titulo: lightskyblue; /* lightskyblue*/
    --fondo: lightblue; /*lightblue*/
    --textos: #DE3902; /*sandybrown*/
    --header: cornflowerblue; /*cornflowerblue*/
}

body {
    background-color: var(--fondo);
    font-size: 85%;
    font-family: Inter, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
}


.header {
    overflow: hidden;
    background-color: var(--header);
    border-radius: 10px;
}
.botonera {
    background-color: var(--textos);
    overflow: hidden;
    border-radius: 5px;
}
.header a.logo {
    position: relative;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-left: -175px;
}
/* Style the header links */
.botonera a.boton {
    display: inline;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    margin-left: 5px;
    border-radius: 30px;
    background-color: var(--textos);
}
input.boton {
    color: black;
    text-align: center;
    padding: 8px;
    border: 1px solid blue;
    background-color: var(--textos);
    border-radius: 10px;
    float: right;
}
a.boton {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: var(--textos);
}

.titulos {
    background-color: var(--titulo);
    padding: 10px;
    border-radius: 10px;

}
.mitad{
        width: 50%;
}
.redondo{
    border-radius: 5px;
}
.colocado{
    margin-left: 100px;
}
.aire{
    margin-bottom: 10px;
}
textarea {
    height: 60px;
    width: 80%;
    border: 2px solid var(--fondo);
    margin-left: 10px;
    vertical-align: middle;
    background-color: white;
    font-family: Inter;
    font-size: 90%;

}
textarea:focus {
    border: 2px solid var(--textos);
    background-color: white;
}
textarea:hover{
border: 2px solid blue;
}


.muchotexto {
    background-color: var(--textos);
    border-radius: 10px;
    padding: 10px;

}

.frmNuevaHabilidad {
    position: relative;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
    border: 2px solid var(--textos);
    border-radius: 10px;
    background: var(--titulo);
    padding-left: 30px;
    horizontal-align: middle;
    margin-left: 20px;
}

.sampleimg{
    display: inline;
    float: right;
    width: 50%;
    margin-top: -280px;
        margin-left: auto;
    margin-right: auto;

}

/* Change the background color on mouse-over */
a.boton:hover {
    background-color: var(--titulo);
    color: white;
}
input.boton:hover {
    background-color: var(--titulo);
    color: white;
}


/* Float the link section to the right */
.header-right {
    float: right;
}


table {
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    background-color: #CCCCFF;
    padding: 5px;

    border-radius: 15px;


}

.esquinasupder {
    border-top-right-radius: 15px;
}

.esquinasupizq {
    border-top-left-radius: 15px;
}

.esquinainfder {
    border-bottom-right-radius: 15px;
}

.esquinainfizq {
    border-bottom-left-radius: 15px;
}

td, th {
    text-align: left;
    padding: 8px;
}

th {
    background-color: var(--header);
}

tr:nth-child(even) {
    background-color: #EEEEFF;
}

textarea.Generaltxt {
    height: 40px;
    width: 86%;
    margin-left: 0px;
    border: 2px solid var(--fondo);
    vertical-align: middle;
    background-color: white;
    font-family: Inter;
    font-size: 90%;
}

div.vista {
    width: 50%;
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid var(--textos);
    background-color: var(--titulo);

}

.padding {
    padding-bottom: 10px;
}

.guardar {
    margin-left: 78%;
}

th.armadura {
    background-color: var(--fondo)
}

div.addpieza {
    text-align: center;
    border: solid 2px var(--textos);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--titulo);
}

form.armadura {
    text-align: center;
}
