{% extends "base.html" %}

{% block contenido %}
<h1 class="titulos">Hola, {{nickname}}</h1>

<h2>&nbsp;&nbsp;Habilidades</h2>
<p class="muchotexto">Las habilidades en Monster Hunter Rise proporcionan ventaja al cazador.
    </br> Esta herramienta permite añadir habilidades. Los campos a tener en cuenta son:
</br> &nbsp;&nbsp;&nbsp;&nbsp;<b>Nombre</b> (Ejemplo: Potenciador Crítico) Nombre de la habilidad en Español dentro del juego.
</br> &nbsp;&nbsp;&nbsp;&nbsp;<b>Nivel</b> (Ejemplo: 3) Nivel de la habilidad, dentro de los límites que establece el juego.
    </br> &nbsp;&nbsp;&nbsp;&nbsp;<b>Descripcion</b> (Ejemplo: Aumenta el daño de los golpes críticos un 25%). Por favor, ser fieles a las descripciones reales del juego.
</p>
    <a href="/panel_habilidades" class="boton">Crear Habilidad</a>
</br></br>
<h2>&nbsp;&nbsp;Piezas de Armadura</h2>
<p class="muchotexto">Cada cacería proporciana al cazador jugosos nuevos materiales. Lleva estos matariales a la forja para obtener equipo más poderoso o simplemente, más bonito
    </br> Esta herramienta permite añadir armaduras y posteriormente vincularle las habilidades. Los campos a tener en cuenta son:
</br> &nbsp;&nbsp;&nbsp;&nbsp;<b>Nombre</b> (Ejemplo: Grebas Zinogre S) Nombre de la pieza de armadura en Español dentro del juego.
</br> &nbsp;&nbsp;&nbsp;&nbsp;<b>Pieza</b> (Ejemplo: Grebas) Muchas veces viene implícito en el nombre. Indica en que parte se coloca la armadura
    </br> &nbsp;&nbsp;&nbsp;&nbsp;<b>Númer de Habilidades</b> (Ejemplo: 3). Número de habilidades (no el nivel de las mismas) que posee esa pieza dentro del juego.
</p>
    <a href="https://www.youtube.es" class="boton">Crear Pieza</a>
{% endblock %}
