{% extends "base.html" %}

{% block contenido %}
<h1 class="titulos mitad">MONSTER HUNTER RISE: CREADOR DE SETS</h1>
<p><img src="/res/sample01.png" class="sampleimg"></p>
<p class="muchotexto mitad">
    Esta herramienta te permite hacer teorycrafting sobre las distintas combinaciones o sets de equipo posiblen es Monster Hunter Rise.
    </br>Actualmente es una aplicación evaluable para Algoritmos con Lenguajes Scripts.
    <br> <b>Login</b> identifica usuarios mediante appEngine.
    </br><b>Crear Set</b> permite crearte dichas combinaciones.
    </br><b>Sets Guardados</b> recupera tus sets guardados, requiere identificación.
    </br><b>Administración</b> permite añadir armaduras y habilidades. Estas habilidades y armaduras tienen que existir en el juego real. Por ello solo los administradores serán capaces de añadirlas.
</p>
<h1 class="titulos mitad">¿Que es Monster Hunter Rise?</h1>
<p class="muchotexto mitad">Monster Hunter Rise es un juego de rol de acción desarrollado y publicado por Capcom para Nintendo Switch.
    Es la sexta entrega principal de la serie Monster Hunter después de Monster Hunter: World y se lanzó en todo el mundo el 26 de marzo de 2021.
    Se está desarrollando una versión para computadoras con un lanzamiento programado para principios de 2022.
    Rise usa las características y convenciones introducidas en Monster Hunter: World.</br></br>Al igual que con los títulos anteriores de Monster Hunter, Rise hace que el jugador asuma el papel de un cazador,
    con la tarea de matar o atrapar monstruos usando una armas, herramientas y trampas ambientales para dañarlos.
    Completar con éxito una misión recompensa al jugador con botines que pueden usarse para forjar nuevas armas y armaduras.
    Los monstruos que ya habían aparecido en Monster Hunter: World regresaron en Rise.
    Además regresan en el juego las catorce categorías de armas que aparecen en Monster Hunter Generations y Monster Hunter: World.
    Rise presenta modos para un jugador y multijugador local y en línea con hasta cuatro cazadores en un grupo.
    Rise presenta un modo de supervivencia llamado Rampage, en el que los jugadores deben defender la aldea base de varios monstruos atacantes.
    El juego tiene compatibilidad con Monster Hunter Stories 2: Wings of Ruin.</p>

{% endblock %}
