{% extends "base.html" %}

{% block contenido %}
<script type="text/javascript" src="/js/checkAll.js" xmlns="http://www.w3.org/1999/html"></script>
<p><img src="/res/sample02.png" class="sampleimg"></p>
</br>

<form id="frmNuevaHabilidad"
      class="frmNuevaHabilidad mitad"
      method="post"
      action="/habilidades/nueva_habilidad_2"
      onsubmit="return ComprobarDescripciones('{{nvmax}}')">
    <input type="text" class="aire mitad redondo" placeholder="Nombre" id="edNombre" name="edNombre" required/>
    <input type="hidden" id="edNvmax" name="edNvmax" value="{{nvmax}}" readonly>

    <textarea placeholder="Descripcion" class="redondo aire Generaltxt" id="edDescrip" name="edDescrip"
              required/></textarea></br>
    </br>
    {% for nv in range(1,nvmax+1) %}
    <div>
        <label for="edDescrip{{nv}}">Nv {{nv}}:</label>
        <textarea placeholder="Descripcion" class="redondo" id="edDescrip{{nv}}" name="edDescrip{{nv}}"
                  required/></textarea>
    </div>
    </br>
    {% endfor %}
    <input type="submit" class="boton" value="Añadir"></p>
</form>
{% endblock %}
