{% extends "base.html" %}

{% block contenido %}
<h1 class="titulos">{{armadura.nombre}}</h1>

<table class="ver">
    <tr>
        <th class="esquinasupizq ver">
            <div class="padding" align="right">
                <a href="/armaduras/editar?id={{ armadura.key.urlsafe() }}"><img height="20" width="18"
                                                                                 src="/res/edit.png"></a>&nbsp&nbsp&nbsp&nbsp
                <a href="/armaduras/eliminar?id={{ armadura.key.urlsafe() }}"
                   onclick="return confirm('¿Seguro que quieres eliminar esta habilidad?')"><img height="20" width="18"
                                                                                                 src="/res/delete.png"></a>
            </div>
            <table class="ver borde">
                <tr>
                    <th width="20%" class="ver"></th>
                    <th class="ver"></th>
                    <th width="40%" class="ver"></th>
                </tr>
                <tr>
                    <td class="imagen"><img height="38" width="38" src="/res/casco.png"></td>
                    {% if piezas.get("Casco") != None %}
                    <td class="imagen">{{piezas.get("Casco")}}</td>
                    {% if habilidades.get(piezas.get("Casco")) != None %}
                    <td>
                        {% for habilidad in habilidades.get(piezas.get("Casco"))%}
                        {{ habilidad }}</br>
                        {% endfor%}
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                <tr>
                    <td class="imagen"><img height="38" width="38" src="/res/cota.png"></td>
                    {% if piezas.get("Cota") != None %}
                    <td class="imagen">{{piezas.get("Cota")}}</td>
                    {% if habilidades.get(piezas.get("Cota")) != None %}
                    <td>
                        {% for habilidad in habilidades.get(piezas.get("Cota"))%}
                        {{ habilidad }}</br>
                        {% endfor%}
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                </tr>

                <tr>
                    <td class="imagen"><img height="38" width="38" src="/res/brazales.png"></td>
                    {% if piezas.get("Brazales") != None %}
                    <td class="imagen">{{piezas.get("Brazales")}}</td>
                    {% if habilidades.get(piezas.get("Brazales")) != None %}
                    <td>
                        {% for habilidad in habilidades.get(piezas.get("Brazales"))%}
                        {{ habilidad }}</br>
                        {% endfor%}
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                </tr>

                <tr>
                    <td class="imagen"><img height="38" width="38" src="/res/faja.png"></td>
                    {% if piezas.get("Faja") != None %}
                    <td class="imagen">{{piezas.get("Faja")}}</td>
                    {% if habilidades.get(piezas.get("Faja")) != None %}
                    <td>
                        {% for habilidad in habilidades.get(piezas.get("Faja"))%}
                        {{ habilidad }}</br>
                        {% endfor%}
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                </tr>

                <tr>
                    <td class="imagen"><img height="38" width="38" src="/res/grebas.png"></td>
                    {% if piezas.get("Grebas") != None %}
                    <td class="imagen">{{piezas.get("Grebas")}}</td>
                    {% if habilidades.get(piezas.get("Grebas")) != None %}
                    <td>
                        {% for habilidad in habilidades.get(piezas.get("Grebas"))%}
                        {{ habilidad }}</br>
                        {% endfor%}
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                </tr>


            </table>
        </th>

        <th width="15%" class="ver"></th>
        <th width="30%" class="esquinasupder ver">
            <table class="ver">
                <tr>
                    <th class="ver">
                    </th>

                </tr>

                {% for hab in resumen_habilidades %}
                <tr>
                    <div class="skills">{{ hab }}</br></br>&emsp;&emsp;
                        {% for n in range(0, resumen_habilidades.get(hab).get("nv"))%}
                        <div class="bloqueA"></div>
                        {% endfor %}
                        {% for n in range(0, resumen_habilidades.get(hab).get("nv_max"))%}
                        <div class="bloqueB"></div>
                        {% endfor %}
                    </div>
                </tr>
                {% endfor %}


            </table>

        </th>
    </tr>
</table>
</br>
<div align="middle">
    <a href="/panel_armaduras"><img height="30" width="30" src="/res/back.png"></a>
</div>

<div class="habs">
    {% for hab in resumen_habilidades %}
    <p>{{ hab }} Nv.{{ resumen_habilidades.get(hab).get("nv") }}</br>
        </br>&emsp;{{resumen_habilidades.get(hab).get("descrip")}}
        </br>&emsp;{{resumen_habilidades.get(hab).get("descrip_nv")}}
    </p></br>
    {% endfor %}
</div>

<div align="middle">
    <a href="/panel_armaduras"><img height="30" width="30" src="/res/back.png"></a>
</div>

{% endblock %}
