{% extends "base.html" %}

{% block contenido %}
<h1 class="titulos mitad">{{habilidad.nombre}}</h1>
<p><img src="/res/sample03.png" class="sampleimg"></p>
<div class="vista">
    <form id="frmVerHabilidad"
          class="frmVerHabilidad">
        <div class="padding" align="right">
            <a href="/habilidades/editar?id={{ habilidad.key.urlsafe() }}"><img height="20" width="18"
                                                                                src="/res/edit.png"></a>&nbsp&nbsp&nbsp&nbsp
            <a href="/habilidades/eliminar?id={{ habilidad.key.urlsafe() }}"><img height="20" width="18"
                                                                                  src="/res/delete.png"></a>
        </div>
        <textarea placeholder="{{habilidad.descripcion}}" class="redondo aire Generaltxt" id="edDescrip"
                  name="edDescrip" readonly/></textarea></br>
        </br>
        {% for nv in habilidad_nv %}
        <div>
            <label for="edDescrip{{nv.nivel}}">Nv {{nv.nivel}}:</label>
            <textarea placeholder="{{nv.descripcion}}" class="redondo Generaltxt" id="edDescrip{{nv.nivel}}"
                      name="edDescrip{{nv.nivel}}" readonly/></textarea>
        </div>
        </br>
        {% endfor %}
        <div align="right">
            <a href="/panel_habilidades"><img height="30" width="30" src="/res/back.png"></a>
        </div>
    </form>
</div>


{% endblock %}
